{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réserver une table</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eius error laudantium numquam suscipit vel, velit.
        Magnam maiores quae sapiente velit. Asperiores at corporis culpa cum, cupiditate dignissimos dolorem, doloribus
        ducimus id in minima nam perferendis praesentium recusandae vitae voluptas.</p>
{% endblock %}